:root {
  --hue-base: 238deg;
  --hue-destructive: calc(var(--hue-base) + 120deg);

  --lightness-100: 1;
  --lightness-95: 0.95;
  --lightness-92: 0.92;
  --lightness-90: 0.9;
  --lightness-85: 0.85;
  --lightness-80: 0.8;
  --lightness-70: 0.7;
  --lightness-60: 0.6;
  --lightness-50: 0.5;
  --lightness-40: 0.4;
  --lightness-30: 0.3;
  --lightness-20: 0.2;
  --lightness-15: 0.15;
  --lightness-12: 0.12;
  --lightness-10: 0.1;
  --lightness-0: 0;

  --chroma-100: 1;
  --chroma-90: 0.6;
  --chroma-80: 0.36;
  --chroma-70: 0.216;
  --chroma-60: 0.13;
  --chroma-50: 0.078;
  --chroma-40: 0.047;
  --chroma-30: 0.028;
  --chroma-20: 0.017;
  --chroma-10: 0.01;
  --chroma-0: 0.006;
}
